.createForm{
    .col-md-6{
        padding: 0px 50px;
        height: 500px;
        background-color: white;
        border-radius: 5px;
        margin-top: 50px;
        margin-bottom: 100px;
        form{
            margin-top: 50px;
            .formInputs{
                input{
                    width: 100%;
                }
            }
        
        }
    }
  
}