section.newsdetail{
    background-color: rgb(28, 29, 52);
    // height: 200vh;
    .container{
        padding: 50px 0px;
        .row{
            .col-md-8{
                background-color: white;
                padding: 0px;

            }
        }
  
    }
}